#root{
    background-color: #222844;
    color:#EBEBEB;
}
.dark-theme{
    background-color: #222844;
    color:#EBEBEB;
}
.light-theme{
    background-color: #D1D0D2;
    color:#46494C;
}
.container-fluid{
    min-height: 100vh;
    height: auto;
}